.sm_yes{
    display: none !important;
}
nav *{
    margin: 0 1rem ;
}

.a_light *{
    color: white;
}
.a_text-decoration-none *{
    text-decoration: none;
}

.h_10{
    height: 10rem;
}
.w_15{
    width: 15%;
}

.hr_dark{
    border: 2px solid rgb(19, 19, 19);
    opacity: 1;
}
.hr_light{
    border: 2px solid rgb(240, 240, 240);
    opacity: 1;
}

.button_transparent_bg{
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-radius: 0;
}

.icon{
    width: 2.5rem;
    height: 2.5rem;
}

@media screen and (max-width: 976px){
    #footer_icon{
        width: 25% !important;
    }
}
@media screen and (max-width: 768px){
    nav a{
        margin: 0 !important;
    }
    nav div{
        padding: 0 !important;
        margin: 0 !important;
    }
    
    footer section div.container div{
        display: block !important;
        margin-bottom: 2rem !important;
    }
    #footer_icon{
        display: flex !important;
        justify-content: center !important;
        margin-bottom: 2rem !important;
        width: 25% !important;
    }
    #footer_icon *{
        margin: 0 0.2rem !important;
    }
}

@media screen and (max-width: 576px){
    .sm_not{
        display: none !important;
    }
    .sm_yes{
        display: block !important;
    }

    footer section div.container div{
        display: block !important;
        margin-bottom: 2rem !important;
    }
    #footer_icon{
        display: flex !important;
        justify-content: center !important;
        margin-bottom: 2rem !important;
    }
    #footer_icon *{
        margin: 0 0.2rem !important;
    }
}